[Unit]
Description=Shares dbus system bus socket via tcp
Wants=dbus.service

[Service]
# TODO: Must be set as "forking" - https://www.freedesktop.org/software/systemd/man/systemd.service.html#Type=
Type=simple
ExecStart=/usr/bin/socat -d -d TCP-LISTEN:7272,reuseaddr,fork UNIX-CONNECT:/var/run/dbus/system_bus_socket

[Install]
WantedBy=basic.target
